<a href="https://colab.research.google.com/github/MarcosSilva2021/PythonColab/blob/main/int_pandas_train_p4_Filtros_GroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importando

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML

In [2]:
df = pd.read_csv('train.csv')

# Aplicando Filtros

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

Visualizando antes dos filtros

In [4]:
count = df.isna().sum()
count[count > 0]

LotFrontage      259
Alley           1369
MasVnrType       872
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

- contanto os valores na coluna SaleCondition

In [7]:
ct = df['SaleCondition'].value_counts()
ct

SaleCondition
Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: count, dtype: int64

In [8]:
ct > 100

SaleCondition
Normal      True
Partial     True
Abnorml     True
Family     False
Alloca     False
AdjLand    False
Name: count, dtype: bool

In [9]:
ct[ct > 100]

SaleCondition
Normal     1198
Partial     125
Abnorml     101
Name: count, dtype: int64

In [10]:
df.SaleCondition.value_counts()

SaleCondition
Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: count, dtype: int64

- Esse trecho de código em Pandas está usando a função fillna() para preencher valores ausentes (NaN) na coluna LotFrontage
----------------------
- df['LotFrontage']: Isso seleciona a coluna LotFrontage do DataFrame.

- np.mean(df['LotFrontage']): Aqui, a média dos valores da coluna LotFrontage é calculada usando a função mean() do NumPy. Essa média é utilizada para substituir os valores ausentes.

- fillna(...): O método fillna() é utilizado para substituir valores NaN por um valor especificado — nesse caso, a média calculada.

- inplace=True: Isso significa que a operação é realizada diretamente no DataFrame df, sem a necessidade de criar uma nova cópia. O DataFrame original é modificado.

In [12]:
df['LotFrontage'].fillna(np.mean(df['LotFrontage']), inplace=True)

<ipython-input-12-992ea1d39abe>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LotFrontage'].fillna(np.mean(df['LotFrontage']), inplace=True)

In [15]:
df['LotFrontage'].fillna(np.mean(df['LotFrontage']), inplace=False)

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [20]:
count = df.isna().sum()
count[count > 0]

MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
MiscFeature     1406
dtype: int64

# Deletar colunas

In [17]:
df.drop(columns=['Alley', 'MasVnrType'], inplace=True)

In [19]:
del(df['Fence'])

# Groupby()

- Agrupa os dados por uma ou mais colunas e aplica uma função de agregação a cada grupo.

Análise do Código

   - df.groupby('SaleCondition'): Isso agrupa o DataFrame df com base nas diferentes categorias encontradas na coluna SaleCondition. Cada grupo corresponderá a um valor único dessa coluna.

   - [['SalePrice', 'LotFrontage']]: Aqui, você está selecionando duas colunas, SalePrice e LotFrontage, para calcular suas médias dentro de cada grupo.

  - mean(): Este método calcula a média dos valores para as colunas selecionadas (SalePrice e LotFrontage) dentro de cada grupo formado anteriormente.

  - O resultado será um novo DataFrame que contém as médias, indexado pelos valores únicos de SaleCondition.

In [21]:
df.groupby('SaleCondition')[['SalePrice', 'LotFrontage']].mean()

                   SalePrice  LotFrontage
SaleCondition
Abnorml        146526.623762    68.285637
AdjLand        104125.000000    54.500000
Alloca         167377.416667    65.674993
Family         149600.000000    73.004996
Normal         175202.219533    69.307880
Partial        272291.752000    79.032400

Esse trecho de código utiliza o método groupby() do Pandas em conjunto com agg() para calcular várias estatísticas do DataFrame, agrupado pela coluna SaleCondition.

- df.groupby('SaleCondition'): Agrupa o DataFrame df com base nos valores únicos da coluna SaleCondition.

- .agg({...}): O método agg() permite aplicar diferentes funções de agregação a diferentes colunas do DataFrame. No dicionário que você passa como argumento, cada chave corresponde a uma coluna do DataFrame, e o valor associado a essa chave é a função de agregação que você deseja aplicar.

   -  "SalePrice": np.mean: Para a coluna SalePrice, você está calculando a média dos preços de venda para cada grupo de SaleCondition.

   - "LotFrontage": "max": Para a coluna LotFrontage, você está obtendo o valor máximo da frente do lote para cada grupo.

   - "SaleType": np.unique: Para a coluna SaleType, você está utilizando np.unique, que retorna os valores únicos dessa coluna para cada grupo. Isso pode ser útil para entender quais tipos de venda estão presentes em cada condição de venda.

In [22]:
df.groupby('SaleCondition').agg({"SalePrice": np.mean, "LotFrontage": "max", "SaleType": np.unique})

<ipython-input-22-14b4cc4b59a2>:1: FutureWarning: The provided callable <function mean at 0x789c88b3c1f0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('SaleCondition').agg({"SalePrice": np.mean, "LotFrontage": "max", "SaleType": np.unique})

,SalePrice,LotFrontage,SaleType
SaleCondition,,,
Abnorml,146526.623762,174.0,"[COD, CWD, ConLD, ConLI, Oth, WD]"
AdjLand,104125.000000,65.0,[WD]
Alloca,167377.416667,78.0,[WD]
Family,149600.000000,182.0,"[CWD, WD]"
Normal,175202.219533,313.0,"[COD, CWD, Con, ConLD, ConLI, ConLw, WD]"
Partial,272291.752000,313.0,"[ConLD, New, WD]"

- df.loc -- Faz 0 filtro de dados baseado nas colunas

In [23]:
df_normal = df.loc[df.SaleCondition == 'Normal']

In [24]:
df_normal.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,0,9,2008,WD,Normal,223500
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,IR1,Lvl,AllPub,Inside,...,0,0,NaN,Shed,700,10,2009,WD,Normal,143000

In [25]:
df_normal['SaleCondition'].value_counts()

SaleCondition
Normal    1198
Name: count, dtype: int64