<a href="https://colab.research.google.com/github/MarcosSilva2021/PythonColab/blob/main/Revisao_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 1 - Escreva uma função que receba uma lista de números como argumento e retorne a soma desses números.

In [13]:
lista1 = [1,2,3]
lista2 = [4,5,6]

In [14]:
import numpy as np

In [ ]:
def soma(lista = []): # com cauculos
  soma = 0
  for num in lista:
    soma += num
  return soma

def soma_np(lista = []): # versão com metodos python
  return np.sum(lista)

print(soma([2,3,4]))
print(soma_np([2,3,4]))

9
9

1.1 função que execute a soma dos elementos de 2 listas

In [4]:
def soma2lista(lista1, lista2):
  aux = []
  for n1, n2 in zip(lista1, lista2):
    aux.append(n1+n2)
  return aux

def soma2lista_np(lista1, lista2):
  return np.array(lista1) + np.array(lista2)

print(soma2lista([1,2], [3,4, 5]))
print(soma2lista_np([1,2], [3,4,]))

[4, 6]
[4 6]

* 2 - Escreva uma função que receba um número inteiro como argumento e retorne True se o número for par e False caso contrário.

In [7]:
def eh_par(numero):
  return numero % 2 == 0

print(eh_par(4))

## passando lista de aaray
# Exemplo com array
numeros = np.array([1, 2, 3, 4, 5, 6,0])
resultado = eh_par(numeros)
print(resultado)

True
[False  True False  True False  True  True]

* 3 - Escreva uma função que receba uma lista de números como argumento e retorne a média desses números.

In [17]:
def media_c(lista):
  soma = 0
  for n in lista:
    soma += n
  return soma/len(lista)

lista1 = [1,2,3]
def media_p(lista):
  return sum(lista)/len(lista)

def media_np(lista):
  return np.mean(lista)

print(media_c(lista1))
print(media_p(lista1))
print(media_np(lista1))

2.0
2.0
2.0

* 4 - Escreva uma função que receba uma lista de números como argumento e retorne o maior número da lista.

In [18]:
lista3 = [1,2,3]

def max_numero(lista):
  maior = 0
  for n in lista:
    if maior < n:
      maior = n
  return maior

def max_numero_p(lista):
  return max(lista)

print(max_numero(lista1))
print(max_numero_p(lista1))

3
3

* 5 - Escreva uma função que receba uma string como argumento e retorne uma nova string com todas as vogais substituídas pelo caractere "-".

In [21]:
def troca_vogais_c(texto):
  vogais = ["a", "e", "i", "o", "u"]
  for index in range(len(texto)):
    if texto[index] in vogais:
      texto[index] = "-"
  return texto


def troca_vogais_p(texto):
  #texto = texto.lower()
  vogais = ["a", "e", "i", "o", "u"]
  for v in vogais:
    texto =  texto.replace(v, "-")

  return texto


#print(troca_vogais("Banana"))
print(troca_vogais_p("BananA"))

B-n-nA

* 6 - Escreva uma função que receba uma lista de strings como argumento e retorne uma nova lista contendo apenas as strings que possuem mais de 5 caracteres.

In [23]:
def filtra_strings_longa(lista):
    return [string for string in lista if len(string) > 5]

lista_exemplo = ["maçã", "banana", "laranja", "kiwi", "abacaxi"]
resultado = filtra_strings_longa(lista_exemplo)
print(resultado)

['banana', 'laranja', 'abacaxi']

* 7 - Escreva uma função que receba uma lista de números como argumento e retorne uma nova lista contendo apenas os números ímpares.

In [27]:
def filtra_numeros_impares_c(lista):
    numeros_impares = []
    for numero in lista:
        if numero % 2 != 0:
            numeros_impares.append(numero)
    return numeros_impares

def filtra_numeros_impares(lista):
    return [numero for numero in lista if numero % 2 != 0]

def filtra_numeros_impares_p(lista):
    return list(filter(lambda numero: numero % 2 != 0, lista))

lista_exemplo = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(filtra_numeros_impares_c(lista_exemplo))
print(filtra_numeros_impares(lista_exemplo))
print(filtra_numeros_impares_p(lista_exemplo))

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

* 8 - Escreva uma função que receba uma lista ou vetor e retorne cada elemento da lista somado 2

In [29]:
def soma_dois(lista):
    resultado = []
    for elemento in lista:
        resultado.append(elemento + 2)
    return resultado

def soma_dois_p(lista):
    return list(map(lambda x: x + 2, lista))

print(soma_dois([1,2,3]))
print(soma_dois_p([1,2,3]))

[3, 4, 5]
[3, 4, 5]

* 9 - Escreva uma função que receba uma lista de numéros e conte quantas ocorrenências para cada número

In [30]:
def conta_lista(lista):
  aux = {}
  for num in lista:
    aux[num] = lista.count(num)
  return aux

print(conta_lista([1,1,1,2,2,3,4]))

{1: 3, 2: 2, 3: 1, 4: 1}

* 10 -  Crie uma calculadora com arquivo externo em python chamado calculadora.py e coloques as operações de soma, subtração, multiplicação e divisão

In [ ]:
# def soma(a, b):
#     return a + b

# def subtracao(a, b):
#     return a - b

# def multiplicacao(a, b):
#     return a * b

# def divisao(a, b):
#     if b == 0:
#         raise ValueError("Divisão por zero não é permitida.")
#     return a / b

# if __name__ == "__main__":
#     while True:
#         print("\nEscolha uma operação:")
#         print("1. Soma")
#         print("2. Subtração")
#         print("3. Multiplicação")
#         print("4. Divisão")
#         print("5. Sair")

#         escolha = input("Digite sua escolha (1/2/3/4/5): ")

#         if escolha == '5':
#             print("Saindo...")
#             break

#         if escolha in ['1', '2', '3', '4']:
#             num1 = float(input("Digite o primeiro número: "))
#             num2 = float(input("Digite o segundo número: "))

#             if escolha == '1':
#                 print(f"{num1} + {num2} = {soma(num1, num2)}")
#             elif escolha == '2':
#                 print(f"{num1} - {num2} = {subtracao(num1, num2)}")
#             elif escolha == '3':
#                 print(f"{num1} * {num2} = {multiplicacao(num1, num2)}")
#             elif escolha == '4':
#                 try:
#                     print(f"{num1} / {num2} = {divisao(num1, num2)}")
#                 except ValueError as e:
#                     print(e)
#         else:
#             print("Escolha inválida. Tente novamente.")

In [33]:
import calculadora as cd

In [46]:
input(5)

55

'5'

# Pandas

In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("sample_data/california_housing_train.csv")

In [44]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0